* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.42;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("../img/bg/hero.jpg");
  background-color: #001821;
  background-size: 100%;
  background-repeat: no-repeat;
}

a {
  display: inline-block;
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  font-weight: normal;
}

p {
  margin-top: 0;
}

ul,
li {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  height: 120px;
  position: relative;
  margin-bottom: 116px;
}

.logo-header {
  position: absolute;
  top: 45px;
  left: 0;
}

.header__menu {
  position: absolute;
  top: 50px;
  left: 165px;
}

.contacts__menu__header {
  position: absolute;
  top: 36px;
  right: 0;
}

.site-menu__item {
  vertical-align: middle;
}

.site-menu__link {
  font-size: 14px;
  color: white;
  margin-right: 50px;
}

.site-menu__item_active .site-menu__link {
  color: #d81a13;
}

.site-menu__link:hover {
  color: #d81a13;
}

.contacts {
  font-style: normal;
  text-align: right;
}

.contacts__phone {
  text-decoration: none;
  font-size: 26px;
  color: white;

}

.contacts__schedule {
  font-size: 13px;
  color: white;
  text-decoration: underline;
}

.promo {
  width: 550px;
  margin-bottom: 245px;
}

.promo__title {
  font-size: 72px;
  color: #ffffff;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 25px;
}

.promo__text {
  font-size: 18px;
  color: white;
  margin-bottom: 28px;
}

.btn {
  background-color: #da0100;
  font-size: 14px;
  font-weight: bold;
  color: white;
  padding: 20px 40px;
  border-radius: 30px;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #f5170e;
}

.hottours {
  margin-bottom: 150px;
}

.hottours__title-text {
  font-size: 36px;
  color: white;
  font-weight: bold;
}

.hottours__title {
  margin-bottom: 50px;
  position: relative;
}

.hottours__title-img {
  position: absolute;
  left: 280px;
  top: 10px;
}

.hottours__item {
  min-height: 440px;
  background: white;
  margin-right: 25px;
  width: 360px;
}

.hottours__item:last-child {
  margin-right: 0;
}

.hottours__item-images {
  height: 140px;
  margin-bottom: 21px;
  overflow: hidden;
}

.hottours__item-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hottours__content {
  padding: 0 20px 35px 20px;
}

.hottours__item-title {
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 10px;
}

.hottours__info-text {
  color: #666666;
  font-size: 16px;
  margin-bottom: 30px;
}

.hottours__item-text {
  font-size: 14px;
  color: #303030;
  margin-bottom: 23px;
}

.hottours__item-btn {
  font-size: 14px;
  text-transform: uppercase;
  color: #d21d16;
  border: 1px solid #d21d16;
  border-radius: 30px;
  padding: 20px 30px;
}

.hottours__item-btn:hover {
  color: white;
  background-color: #d21d16;
}

.hottours__info-item {
  margin-bottom: 15px;
  margin-right: 40px;
}

.hottours__info-picture_calendar:hover {
  background: url(../img/icons/offers/calendar-2.png);
}

.hottours__info-picture_meal:hover {
  background: url(../img/icons/offers/meal-2.png);
}

.news__title {
  font-size: 36px;
  color: white;
  font-weight: bold;
  margin-bottom: 50px;
}

.news__item {
  width: 550px;
  margin-right: 30px;
  vertical-align: top;
  position: relative;
  border-radius: 6px;
  overflow: hidden;

}

.news__item:last-child {
  margin-right: 0;
}

.news__item-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
  min-height: 390px;
}

.news__item-content {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 25px 25px;
  min-height: 140px;
}

.news__item-data {
  font-size: 14px;
  color: white;
  margin-bottom: 20px;
}

.news__item-title {
  font-size: 24px;
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
}

.news__item-text {
  font-size: 16px;
  color: white;
}

.paginator__display {
  font-size: 16px;
  color: white;
  margin-right: 40px;
}

.paginator__nav {
  margin-top: 60px;
  margin-bottom: 155px;
}

.paginator {
  text-align: center;
}

.paginator__display,
.paginator__list {
  display: inline-block;
  vertical-align: middle;
}

.paginator__link {
  display: block;
  font-size: 16px;
  color: white;
  font-weight: bold;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  line-height: 32px;
}

.paginator__item {
  vertical-align: middle;
}

.paginator__item_active .paginator__link {
  background-color: white;
  color: #d21d16;
}

.about-container {
  margin-bottom: 90px;
}

.about-container:before {
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 490px;
  height: 500px;
  background: url("../img/decor/gates.jpg") center center / cover no-repeat;

}

.about__content {
  background: url(../img/decor/mountains.jpg) center center / cover no-repeat;
  padding: 80px 90px;
  display: inline-block;
  vertical-align: top;
  width: 780px;
  margin-left: -140px;
  margin-top: 140px;

}

.about__title {
  font-size: 36px;
  color: #000000;
  font-weight: 700;
  margin-bottom: 40px;

}

.about__text {
  font-size: 16px;
  color: #303030;
  margin-bottom: 50px;

}

.footer {
  height: 145px;
  position: relative;
}

.footer__menu {
  position: absolute;
  bottom: 50px;
  left: 165px;
}

.logo-footer {
  position: absolute;
  left: 0;
  bottom: 45px;
}

.contacts__menu__footer {
  position: absolute;
  bottom: 36px;
  right: 0;
}

.contacts__schedule_free {
  text-decoration: none;
}

.social {
  display: block;
  position: absolute;
  bottom: 36px;
  right: 260px;
}

.social__item {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  display: block;
  width: 36px;
  height: 36px;
}

.social__item_icon_telegram .social__link {
  background-image: url("../img/icons/socials/telegram.png");
}

.social__item_icon_telegram .social__link:hover {
  background-image: url(../img/icons/socials/telegram-hover.png);
}

.social__item_icon_vk .social__link {
  background-image: url(../img/icons/socials/vkontakte.png);
}

.social__item_icon_vk .social__link:hover {
  background-image: url(../img/icons/socials/vk-hover.png);
}

.social__item_icon_fb .social__link {
  background-image: url(../img/icons/socials/facebook.png);
}

.social__item_icon_fb .social__link:hover {
  background-image: url(../img/icons/socials/fb-hover.png);
}

.social__item_icon_insta .social__link {
  background-image: url(../img/icons/socials/instagram.png);
}

.social__item_icon_insta .social__link:hover {
  background-image: url(../img/icons/socials/insta-hover.png);
}