
.footer__container {
  height: 145px;
  border-top: 1px solid rgba(255, 255, 255, .1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__col{
  display: flex;
  align-items: center;
}
.footer__col_aligh_right{
  align-items: flex-end;
}
.inner-footer{
  background-color:black;
}