.paginator {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginator__display {
  font-size: 16px;
  color: white;
  margin-right: 40px;
}

.paginator__list {
  display: flex;
  align-items: center;
}

.paginator__link {
  display: block;
  font-size: 16px;
  color: white;
  font-weight: bold;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  line-height: 32px;
}

.paginator__item {
  text-align: center;
}
.paginator_theme_light{
  color:black;
}
.paginator__item_active .paginator__link {
  background-color: white;
  color: #d21d16;
}
.paginator_theme_light .paginator__item .paginator__link{
color: #000;
}
.paginator_theme_light .paginator__item_active .paginator__link {
  background-color: #f5170e;
  color:white;
}