.inner-section {
  color: black;
  background-color: #fff;
  padding: 100px 0;
}

.iner-section_bg_gray {
  background-color: #f4f5f5;
}

.inner-section__title {
  font-size: 48px;
  font-weight: bold;
  color: #202123;
  font-size: 48px;
  margin-bottom: 65px;
}

.partners__link {
  text-decoration: none;
  display: flex;
  min-width: 229px;
  max-width: 300px;
  height: 100px;
  align-items: center;
  filter: grayscale(100%);
}

.partners {
  display: flex;
  flex-wrap: wrap;
}

.partners__item {
  flex-grow: 1;

}

.partners__link:hover {
  filter: none;
}

.partners__item:nth-child(4n) .partners__link {
  justify-content: flex-end;
}