.promo {
  margin-bottom: 243px;
}

.promo__text-content {
  width: 45%;
}

.promo__title {
  font-size: 72px;
  color: #ffffff;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 25px;
}

.promo__text {
  font-size: 18px;
  color: white;
  margin-bottom: 33px;
}
