.review {
  display: inline-flex;
  flex-direction: column;
  padding: 50px 30px;
  background-color:#f4f5f5;
}
.reviews{
  column-count: 2;
  column-gap: 30px;
  margin-bottom: 70px;
}
.reviews__item{
  margin-bottom: 20px;
}

.review__header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.review__user {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #2e77a4;
}

.review__user:after {
  content: url(../../img/icons/socials/vk-hover.png);
  height: 29px;
  margin-bottom: 14px;
}

.avatar {
  width: 140px;
  height: 140px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 25px;
}

.review__tags {
  display: flex;
  align-items: flex-start;
}

.tag {
  font-size: 13px;
  color: #303030;
  padding: 8px 16px;
  border-radius: 17px;
  background-color:#e7e7e7;
}
.review__title{
  font-size: 30px;
  color: #1a1b1e;
  font-weight: bold;
  margin-bottom: 30px;
}
.review__content-text{
  font-size: 16px;
  color: #818181;
  margin-bottom: 50px;
}
.review__date{
  font-size: 14px;
  color: #1a1b1e;
  font-weight: 600;
}