.separator{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../../img/bg/middleline.jpg) ;
  min-height: 360px;
}
.separator__content{
  max-width: 50%;
}
.separator__title{
  font-size: 48px;
  font-weight: bold;
  color: #ffffff;
}