.site-menu__item {
  margin-right: 50px;
}

.site-menu__item:last-child {
  margin-right: 0;
}

.site-menu__link {
  font-size: 14px;
  color: white;

}

.site-menu__item_active .site-menu__link {
  color: #d81a13;
}

.site-menu__link:hover {
  color: #d81a13;
}
.site-menu__list{
  display: flex;
  justify-content: space-between;
  list-style: none;
}