.social {
  margin-right: 70px;
}

.social__item {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}

.social__item:last-child {
  margin-right: 0;
}

.social-link {
  opacity: .4;
}

.social-link:hover {
  opacity: 1;
  transition: opacity .3s;
}

.social-link:before {
  content: "";
  width: 36px;
  height: 36px;
  display: block;
  background: center center no-repeat;
}

.social__item_icon_telegram .social-link:before {
  background: url(../../img/icons/socials/css_sprites.png) -10px -10px;
}

.social__item_icon_vk .social-link:before {
  background: url(../../img/icons/socials/css_sprites.png) -66px -10px;
}

.social__item_icon_fb .social-link:before {
  background: url(../../img/icons/socials/css_sprites.png) -122px -10px;
}

.social__item_icon_insta .social-link:before {
  background: url(../../img/icons/socials/css_sprites.png) -178px -10px;
}